<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CableLayout</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prashant</display-name>
    <servlet-name>prashant</servlet-name>
    <servlet-class>prashant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prashant</servlet-name>
    <url-pattern>/prashant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userfrontend</display-name>
    <servlet-name>userfrontend</servlet-name>
    <servlet-class>userfrontend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userfrontend</servlet-name>
    <url-pattern>/userfrontend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inbox</display-name>
    <servlet-name>inbox</servlet-name>
    <servlet-class>inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inbox</servlet-name>
    <url-pattern>/inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disconnection</display-name>
    <servlet-name>disconnection</servlet-name>
    <servlet-class>disconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disconnection</servlet-name>
    <url-pattern>/disconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disconnection1</display-name>
    <servlet-name>disconnection1</servlet-name>
    <servlet-class>disconnection1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disconnection1</servlet-name>
    <url-pattern>/disconnection1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout1</display-name>
    <servlet-name>logout1</servlet-name>
    <servlet-class>logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout1</servlet-name>
    <url-pattern>/logout1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create1</display-name>
    <servlet-name>create1</servlet-name>
    <servlet-class>create1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create1</servlet-name>
    <url-pattern>/create1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>details</display-name>
    <servlet-name>details</servlet-name>
    <servlet-class>details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>optimal</display-name>
    <servlet-name>optimal</servlet-name>
    <servlet-class>optimal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>optimal</servlet-name>
    <url-pattern>/optimal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepass</display-name>
    <servlet-name>changepass</servlet-name>
    <servlet-class>changepass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepass</servlet-name>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationDetails</display-name>
    <servlet-name>RegistrationDetails</servlet-name>
    <servlet-class>RegistrationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationDetails</servlet-name>
    <url-pattern>/RegistrationDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sectorconnections</display-name>
    <servlet-name>sectorconnections</servlet-name>
    <servlet-class>sectorconnections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sectorconnections</servlet-name>
    <url-pattern>/sectorconnections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete1</display-name>
    <servlet-name>delete1</servlet-name>
    <servlet-class>delete1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete1</servlet-name>
    <url-pattern>/delete1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteu</display-name>
    <servlet-name>deleteu</servlet-name>
    <servlet-class>deleteu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteu</servlet-name>
    <url-pattern>/deleteu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>optimal1</display-name>
    <servlet-name>optimal1</servlet-name>
    <servlet-class>optimal1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>optimal1</servlet-name>
    <url-pattern>/optimal1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrawOvalsExample</display-name>
    <servlet-name>DrawOvalsExample</servlet-name>
    <servlet-class>DrawOvalsExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawOvalsExample</servlet-name>
    <url-pattern>/DrawOvalsExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>graphics</display-name>
    <servlet-name>graphics</servlet-name>
    <servlet-class>graphics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>graphics</servlet-name>
    <url-pattern>/graphics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminpass</display-name>
    <servlet-name>adminpass</servlet-name>
    <servlet-class>adminpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpass</servlet-name>
    <url-pattern>/adminpass</url-pattern>
  </servlet-mapping>
</web-app>